/*
 * Project Name: Blog Spot
 * File Name: Loading.scss
 * Purpose: This file will be used to design the loading component
 * Author: Jacob Demelo
 * Date: 2023-04-11
 */

//design the loading component
.loading-component{
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color: red;
}